.book-list-heading {
  border-bottom: 1px solid #ccc;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  margin: 20px;
  max-width: 200px;
}

.book-thumbnail {
  position: relative;
}

.book-thumbnail img {
  width: 100%;
}

.book-select {
  appearance: none;
  background-color: green;
  border-radius: 50%;
  border: 0;
  bottom: 10px;
  display: block;
  height: 30px;
  position: absolute;
  right: 10px;
  width: 30px;
}
